/*Pour ie 7*/
/* line 3, ../sass/ie7.scss */
#remind-me[type="checkbox"] {
  margin-top: -3px !important;
  zoom: 1;
}

/* line 6, ../sass/ie7.scss */
#register input[type="text"] {
  width: 220px!important;
  float: left!important;
  margin-bottom: 4px!important;
}
/* line 12, ../sass/ie7.scss */
#register input[type="submit"] {
  top: 43px !important;
  right: 40px!important;
  width: 26px!important;
  height: 26px!important;
}
/* line 19, ../sass/ie7.scss */
#register label {
  width: 108px;
  line-height: em(19px);
  margin-bottom: 0!important;
}
/* line 24, ../sass/ie7.scss */
#register a {
  line-height: em(16px);
  margin-top: -2px;
  zoom: 1;
}

/* line 26, ../sass/ie7.scss */
#calltoregister {
  padding-bottom: 100px!important;
}

/* line 32, ../sass/ie7.scss */
footer #think li {
  width: 278px;
}
/* line 35, ../sass/ie7.scss */
footer #think li p span {
  line-height: em(16px);
}
/* line 39, ../sass/ie7.scss */
footer .footer-container strong {
  padding-top: 4px!important;
  zoom: 1;
}

/* line 45, ../sass/ie7.scss */
#home-extranet td {
  height: 28px;
}

/* line 51, ../sass/ie7.scss */
.popin#register-full a {
  margin: 374px 0 0 40px !important;
}

/* line 53, ../sass/ie7.scss */
.popin input[type=text], .popin input[type=file], .popin input[type=radio] {
  float: none !important;
}
/* line 56, ../sass/ie7.scss */
.popin input[type=submit] {
  float: left;
}
/* line 59, ../sass/ie7.scss */
.popin#export-map input[type=radio], .popin#export-map label {
  float: none;
  display: inline;
}

/* line 67, ../sass/ie7.scss */
#home-extranet .search-map {
  margin-left: 0 !important;
}
/* line 72, ../sass/ie7.scss */
#home-extranet .search-map input[type="text"] {
  width: 274px !important;
  height: 22px;
  padding: 0 0 0 20px;
  margin-top: 4px;
}
/* line 78, ../sass/ie7.scss */
#home-extranet .search-map input[type="submit"] {
  height: 26px !important;
  margin-top: 5px !important;
}
/* line 83, ../sass/ie7.scss */
#home-extranet #menu-options {
  margin-bottom: 60px !important;
}
