/* HEADER STYLES */
#header {
    margin-top: 0px;
    height: 78px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#headerToolbar {
    height: 42px;
    width: 100%;
    background: #494542;
    color: white;
    font-size: small;
    font-style: normal;
}

#header .wrapper {
    width: 990px;
    margin: 0 auto;
    position: relative;
}

#header .wrapper:first-child {
    margin: 0 auto 0 auto;
}

#header .wrapper {
    margin: 0 auto 50px auto;
}



#headerToolbar .wrapper span {
    float: right;
    margin-right: 36px;
    background: url(../images/sprite.png) no-repeat 0px 3px;
    padding-left: 18px;
    font-family: Arial, Helvetica, "Sans Serif";
    font-size: 0.625em;
    font-weight: bold;
    line-height: 2.25em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: black 0 -1px 1px;
}

#headerToolbar .main-menu {
    clear: right;
    float: right;
    height: 34px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: black 0 -1px 1px;
    -moz-box-shadow: black 0 -1px 1px;
    box-shadow: black 0 -1px 1px;
    background-color: #8495ce;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fa2e0), color-stop(100%, #7989bd));
    background: -webkit-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
    background: -moz-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
    background: -o-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
    background: -ms-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
    -pie-background: linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
    background: linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
}

#headerToolbar .main-menu ul, #headerToolbar .main-menu ol {
    list-style: none;
}

#headerToolbar .main-menu li {
    float: left;
    line-height: 1;
}

#headerToolbar .main-menu li a {
    float: left;
    padding: 10px 20px;
    font-family: Arial, Helvetica, "Sans Serif";
    font-size: 0.625em;
    font-weight: bold;
    color: white;
    text-shadow: #5275C4 0 -1px 1px;
    text-transform: uppercase;
}

/* line 228, ../sass/styles.scss */
#headerToolbar .main-menu li#call-home a {
    padding: 10px 0 14px 55px;
    background: url(../images/sprite.png) no-repeat 20px -35px;
}
/* line 229, ../sass/styles.scss */
#headerToolbar .main-menu li#call-home a:after {
    content: " |";
}
/* line 234, ../sass/styles.scss */
#headerToolbar .main-menu li#call-home a:hover {
    background-position: -100px -35px;
}
/* line 236, ../sass/styles.scss */
#headerToolbar .main-menu li#call-maps a {
    padding: 10px 0 14px 28px;
    background: url(../images/sprite.png) no-repeat 10px -110px;
}
/* line 237, ../sass/styles.scss */
#headerToolbar .main-menu li#call-maps a:after {
    content: " |";
}
/* line 241, ../sass/styles.scss */
#headerToolbar .main-menu li#call-maps a:hover {
    background-position: -110px -110px;
}
/* line 243, ../sass/styles.scss */
#headerToolbar .main-menu li#call-settings a {
    padding: 10px 0 14px 28px;
    background: url(../images/sprite.png) no-repeat 10px -70px;
}
/* line 244, ../sass/styles.scss */
#headerToolbar .main-menu li#call-settings a:after {
    content: " |";
}
/* line 248, ../sass/styles.scss */
#headerToolbar .main-menu li#call-settings a:hover {
    background-position: -110px -70px;
}
/* line 250, ../sass/styles.scss */
#headerToolbar .main-menu li#call-logout a {
    padding: 10px 25px 14px 28px;
    background: url(../images/sprite.png) no-repeat 10px -150px;
}
/* line 254, ../sass/styles.scss */
#headerToolbar .main-menu li#call-logout a:hover {
    background-position: -110px -150px;
}

#headerContent {
    width: 800px;
    height: 78px;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
}

#headerLogo {
    margin-top: 18px;
    height: 80px;
    width: 160px;
    background: url("../images/logo-medium.png") no-repeat;
    position: absolute;
    top: 0;
    left: -50px;
}

#headerSlogan {
    position: absolute;
    border-left: 1px dashed gray;
    margin-top: 8px;
    height: 1em;
    width: 100px;
    top: 40px;
    left: 137px;
    white-space: nowrap;
    padding-left: 7px;
    font-weight: bold;
    vertical-align: middle;
}

#header #logo {
    float: left;
    width: 324px;
    height: 98px;
    margin: 25px 0 0 15px;
}

#header #logo {
    margin: 25px 0 50px 15px;
}

#headerButtons {
    position: absolute;
    top: 65px;
    left: 150px;
}

#aboutLink, #faqLink, #feedbackLink, #logoutLink {
    float: right;
    z-index: 300;
}

div#headerButtons a {
    float: left;
    color: #6F6F6F;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
}

div#headerTitle {
    float: left;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}


span#headerSubTitle {
    font-weight: lighter;
    font-size: 12px;
}

div#headerButtons a:hover {
    /*text-decoration: underline;*/
    color: #7e72ad;
}

div#headerButtons activelink a, div#headerButtons activelink a:hover {
    text-decoration: none;
    border-top: 0;
    border-bottom: 0;
}


#footer {
    width: 100%;
    border-top: 1px solid #8e9181;
    text-align: center;
    font-size: 90%;
    padding-top:5px;
    min-height:40px;
}
#footer > div{
    display: inline-block;
}


div#paypal {
    float: left;
    margin: -29px;
}


#headerLogo {
    cursor: pointer;
}


div#headerActions {
    padding-right: 8px;
    padding-top: 4px;
    position: absolute;
    right: 0;
    z-index: 50;

}

#headerActions span {
    border-bottom: 3px solid  #F7C931;
}

div#headerActions a:hover, div#headerActions a:active, div#headerActions a:link, div#headerActions a:visited {
    color: white;
}

div.header_languages {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100px;
    height: 20px;
}

div.header_language_flag {
    float: left;
    margin-right: 3px;
}