/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/modules/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/modules/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/modules/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/modules/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/modules/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/modules/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/modules/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*_________END RESET ERIC MEYER_______________*/
/* line 17, ../sass/modules/_fonts.scss */
html {
  font: 16px;
}

/* line 20, ../sass/styles.scss */
body {
  font-family: Arial, Helvetica, "Sans Serif";
  background: #fbfbfb;
}

/*
h2 {font-size:1.6em; }
h3 {font-size:1.4em; }
h4 {font-size:1.2em; }
p{ color:#333; }
*/
/* line 32, ../sass/styles.scss */
a {
  color: #2B77BC;
  text-decoration: none;
}

/* line 36, ../sass/styles.scss */
input[type="submit"], .btn {
  cursor: pointer;
}

/* line 43, ../sass/styles.scss */
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  line-height: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #888;
  padding: 0 10px;
  /*Pour ie*/
  height: 24px;
}

/* line 53, ../sass/styles.scss */
input[type="file"] {
  border: none!important;
}

/* line 56, ../sass/styles.scss */
input[type="submit"] {
  border: none;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #F4F3F2;
  color: #62696b;
}
/* line 66, ../sass/styles.scss */
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background: #fff;
}

/* line 71, ../sass/styles.scss */
.wrapper {
  width: 990px;
  margin: 0 auto;
  position: relative;
}

/*ELEMENTS*/
/* line 78, ../sass/styles.scss */
.btn {
  float: left;
  margin: 0 10px 30px;
  border: solid 1px #a5d23e;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #97c333;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2e440), color-stop(100%, #7ca227));
  background: -webkit-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: -moz-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: -o-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: -ms-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  -pie-background: linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: linear-gradient(top, #b2e440 0%, #7ca227 100%);
  -webkit-box-shadow: #dbdbdb 0px 2px 2px;
  -moz-box-shadow: #dbdbdb 0px 2px 2px;
  box-shadow: #dbdbdb 0px 2px 2px;
}
/* line 87, ../sass/styles.scss */
.btn a {
  display: block;
  padding: 12px 50px 14px 20px;
  min-width: 110px;
  color: #fff;
  font-family: Arial, Helvetica, "Sans Serif";
  font-weight: bold;
  font-size: 0.625em;
  text-shadow: #5275c4 0 -1px 1px;
  text-transform: uppercase;
}
/* line 98, ../sass/styles.scss */
.btn a.create {
  background: url(../images/sprite.png) no-repeat 148px -190px;
}
/* line 101, ../sass/styles.scss */
.btn a.delete {
  background: url(../images/sprite.png) no-repeat 144px -272px;
}
/* line 105, ../sass/styles.scss */
.btn a.import {
  background: url(../images/sprite.png) no-repeat 138px -352px;
}
/* line 109, ../sass/styles.scss */
.btn:hover {
  background-color: #b0d758;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2e440), color-stop(100%, #b0d758));
  background: -webkit-linear-gradient(top, #b2e440 0%, #b0d758 100%);
  background: -moz-linear-gradient(top, #b2e440 0%, #b0d758 100%);
  background: -o-linear-gradient(top, #b2e440 0%, #b0d758 100%);
  background: -ms-linear-gradient(top, #b2e440 0%, #b0d758 100%);
  -pie-background: linear-gradient(top, #b2e440 0%, #b0d758 100%);
  background: linear-gradient(top, #b2e440 0%, #b0d758 100%);
}

/* line 115, ../sass/styles.scss */
.module-container {
  float: left;
  clear: both;
  width: 100%;
  background: #f8f8f8;
  -webkit-box-shadow: #dbdbdb 0px 2px 2px;
  -moz-box-shadow: #dbdbdb 0px 2px 2px;
  box-shadow: #dbdbdb 0px 2px 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 123, ../sass/styles.scss */
.module-container .btn, .module-container .search-map {
  margin-top: -20px;
}

/*HEADER HOME NON CONNECTE*/
/* line 132, ../sass/styles.scss */
header #logo {
  float: left;
  width: 324px;
  height: 98px;
  margin: 25px 0 0 15px;
}
/* line 139, ../sass/styles.scss */
header .btn-login {
  float: right;
  height: 48px;
  width: 177px;
  background: url("../images/bg-connexion.png") no-repeat 0 -10px;
  text-align: center;
  padding-top: 3px;
  margin-right: 20px;
  color: #fff;
  font-size: 0.875em;
}
/* line 149, ../sass/styles.scss */
header #login {
  position: absolute;
  right: 0;
  float: right;
  width: 197px;
  background: #8cba18;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}
/* line 158, ../sass/styles.scss */
header #login input {
  float: left;
  clear: both;
  width: 171px;
  margin: 0px 10px 4px 10px;
}
/* line 164, ../sass/styles.scss */
header #login input[type="submit"] {
  width: 177px;
  font-size: 0.875em;
  margin-bottom: 10px;
}
/* line 165, ../sass/styles.scss */
header #login input[type="checkbox"] {
  width: inherit;
}
/* line 167, ../sass/styles.scss */
header #login a {
  display: block;
  margin: 0 10px 20px;
  line-height: 0.75em;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.75em;
  color: #fff;
}

/* line 181, ../sass/styles.scss */
header .wrapper:first-child {
  margin: 0 auto 0 auto;
}

/* line 182, ../sass/styles.scss */
header .wrapper {
  margin: 0 auto 50px auto;
}

/* line 183, ../sass/styles.scss */
header #logo {
  margin: 25px 0 50px 15px;
}

/* line 185, ../sass/styles.scss */
#top-header {
  height: 42px;
  width: 100%;
  background: #494542;
}
/* line 190, ../sass/styles.scss */
#top-header span {
  float: right;
  margin-right: 36px;
  background: url(../images/sprite.png) no-repeat 0px 3px;
  padding-left: 18px;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.625em;
  font-weight: bold;
  line-height: 2.25em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: black 0 -1px 1px;
}

/* line 205, ../sass/styles.scss */
#main-menu {
  clear: right;
  float: right;
  height: 34px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: black 0 -1px 1px;
  -moz-box-shadow: black 0 -1px 1px;
  box-shadow: black 0 -1px 1px;
  background-color: #8495ce;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fa2e0), color-stop(100%, #7989bd));
  background: -webkit-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
  background: -moz-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
  background: -o-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
  background: -ms-linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
  -pie-background: linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
  background: linear-gradient(top, #8fa2e0 0%, #7989bd 100%);
}
/* line 214, ../sass/styles.scss */
#main-menu li {
  float: left;
}
/* line 217, ../sass/styles.scss */
#main-menu li a {
  float: left;
  padding: 10px 20px;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.625em;
  font-weight: bold;
  color: #fff;
  text-shadow: #5275c4 0 -1px 1px;
  text-transform: uppercase;
}
/* line 228, ../sass/styles.scss */
#main-menu li#call-home a {
  padding: 10px 0 14px 55px;
  background: url(../images/sprite.png) no-repeat 20px -35px;
}
/* line 229, ../sass/styles.scss */
#main-menu li#call-home a:after {
  content: " |";
}
/* line 234, ../sass/styles.scss */
#main-menu li#call-home a:hover {
  background-position: -100px -35px;
}
/* line 236, ../sass/styles.scss */
#main-menu li#call-maps a {
  padding: 10px 0 14px 28px;
  background: url(../images/sprite.png) no-repeat 10px -110px;
}
/* line 237, ../sass/styles.scss */
#main-menu li#call-maps a:after {
  content: " |";
}
/* line 241, ../sass/styles.scss */
#main-menu li#call-maps a:hover {
  background-position: -110px -110px;
}
/* line 243, ../sass/styles.scss */
#main-menu li#call-settings a {
  padding: 10px 0 14px 28px;
  background: url(../images/sprite.png) no-repeat 10px -70px;
}
/* line 244, ../sass/styles.scss */
#main-menu li#call-settings a:after {
  content: " |";
}
/* line 248, ../sass/styles.scss */
#main-menu li#call-settings a:hover {
  background-position: -110px -70px;
}
/* line 250, ../sass/styles.scss */
#main-menu li#call-logout a {
  padding: 10px 16px 14px 28px;
  background: url(../images/sprite.png) no-repeat 10px -150px;
}
/* line 254, ../sass/styles.scss */
#main-menu li#call-logout a:hover {
  background-position: -110px -150px;
}

/*CONTENT*/
/* line 266, ../sass/styles.scss */
#homepage #content {
  clear: both;
  padding-top: 45px;
}
/* line 270, ../sass/styles.scss */
#homepage #content #description {
  float: left;
  width: 360px;
  margin-right: 30px;
  margin-bottom: 100px;
}
/* line 276, ../sass/styles.scss */
#homepage #content h1 {
  width: 213px;
  height: 37px;
  text-align: center;
  padding-top: 4px;
  font-family: "Cabin", Arial, sans-serif;
  background: url("../images/signin-signup/bg-title-large.png") no-repeat 0 0;
  font-size: 1.625em;
  line-height: 1em;
  color: #fff;
}
/* line 287, ../sass/styles.scss */
#homepage #content h2 {
  display: block;
  height: 134px;
  padding: 20px 8px 0px;
  background: url("../images/signin-signup/transversal-ribbon.png") no-repeat 0 -36px;
  font-family: "Cabin", Arial, sans-serif;
  font-size: 1.375em;
  line-height: 1.375em;
  color: #000;
}
/* line 297, ../sass/styles.scss */
#homepage #content h2 span {
  color: #8cba18;
}
/* line 301, ../sass/styles.scss */
#homepage #content h2 em {
  font-size: 0.75em;
  line-height: 2em;
  font-style: normal;
  color: #62696b;
}
/* line 308, ../sass/styles.scss */
#homepage #content .category-title {
  display: block;
  padding-top: 16px;
  font-family: "Cabin", Arial, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  color: #62696b;
}
/* line 317, ../sass/styles.scss */
#homepage #content .category-title.calltoregister {
  width: 305px;
  border-top: dashed 1px #62696B;
  color: #62696b;
  float: left;
}
/* line 324, ../sass/styles.scss */
#homepage #content #calltoregister {
  float: left;
}
/* line 327, ../sass/styles.scss */
#homepage #content #calltoregister strong {
  float: left;
  width: 240px;
}
/* line 332, ../sass/styles.scss */
#homepage #content #calltoregister span {
  float: left;
  margin-top: 16px;
  color: #fff;
  background: #62696b;
  padding-top: 16px;
  padding: 7px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  text-transform: uppercase;
}
/* line 342, ../sass/styles.scss */
#homepage #content #calltoregister:hover span {
  background: #8cba18;
}
/* line 346, ../sass/styles.scss */
#homepage #content #register {
  position: relative;
  display: block;
  height: 98px;
  width: 304px;
  margin: 6px 0 30px 0;
  padding: 10px 10px 0;
  background: url("../images/signin-signup/bg-form2.png") no-repeat 0 0px;
}
/* line 357, ../sass/styles.scss */
#homepage #content #register input[type="email"],
#homepage #content #register input[type="password"] {
  width: 220px !important;
  float: left !important;
}
/* line 361, ../sass/styles.scss */
#homepage #content #register input[type="email"] {
  margin-bottom: 4px;
}
/* line 365, ../sass/styles.scss */
#homepage #content #register input[type="submit"] {
  border: none;
  position: absolute;
  top: 38px;
  right: 46px;
  width: 24px;
  height: 24px;
}
/* line 374, ../sass/styles.scss */
#homepage #content #register input[type="checkbox"] {
  clear: left;
  float: left;
  width: inherit;
  margin-top: 2px;
}
/* line 381, ../sass/styles.scss */
#homepage #content #register label {
  float: left;
  line-height: 1em;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.75em;
  color: #fff;
  margin: 2px 0 0 2px;
}
/* line 391, ../sass/styles.scss */
#homepage #content #register a {
  float: left;
  margin: 4px 0px 0px 14px;
  line-height: 0.75em;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.625em;
  color: #fff;
  text-decoration: underline;
}
/* line 402, ../sass/styles.scss */
#homepage #content #register a:hover, #homepage #content #register a:active, #homepage #content #register a:focus {
  text-decoration: none;
}
/* line 408, ../sass/styles.scss */
#homepage #content #demo {
  float: right;
}
/* line 410, ../sass/styles.scss */
#homepage #content #bg-slider {
  width: 598px;
  height: 348px;
  background: url("../images/signin-signup/computer-screen.png") no-repeat 0 0;
}
/* line 415, ../sass/styles.scss */
#homepage #content #bg-slider .slider-mac {
  padding: 24px 0 0 96px;
}
/* line 418, ../sass/styles.scss */
#homepage footer {
  clear: both;
  width: 100%;
  padding-top: 20px;
  background: #f4f3f2;
}
/* line 424, ../sass/styles.scss */
#homepage footer .footer-part {
  float: left;
  position: relative;
  margin: 15px 0px 0px 25px;
}
/* line 429, ../sass/styles.scss */
#homepage footer .footer-part h3 {
  position: absolute;
  top: -35px;
  display: block;
  height: 36px;
  margin-top: -36px;
  padding: 12px 100px 18px 0;
  font-family: "Cabin", Arial, sans-serif;
  font-size: 1.375em;
  color: #d9d5d1;
  font-weight: bold;
}
/* line 441, ../sass/styles.scss */
#homepage footer .footer-part#projet {
  width: 275px;
}
/* line 444, ../sass/styles.scss */
#homepage footer .footer-part#projet #think li {
  float: left;
  clear: left;
  padding: 10px 0 10px;
  border-bottom: 1px dashed #bcbcbb;
}
/* line 450, ../sass/styles.scss */
#homepage footer .footer-part#projet #think li:first-child {
  border-top: 1px dashed #bcbcbb;
}
/* line 452, ../sass/styles.scss */
#homepage footer .footer-part#projet #think li p {
  float: left;
  width: 228px;
  color: #333;
}
/* line 457, ../sass/styles.scss */
#homepage footer .footer-part#projet #think li strong {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.125em;
  color: #333;
}
/* line 463, ../sass/styles.scss */
#homepage footer .footer-part#projet #think li img {
  float: left;
  width: 32px;
  margin-right: 15px;
}
/* line 469, ../sass/styles.scss */
#homepage footer .footer-part#projet #think li span {
  font-size: 0.875em;
}
/* line 474, ../sass/styles.scss */
#homepage footer .footer-part#projet h3 {
  background: url("../images/signin-signup/picto-projet.png") no-repeat 170px 0;
}
/* line 478, ../sass/styles.scss */
#homepage footer .footer-part#thinkmaps {
  width: 344px;
}
/* line 481, ../sass/styles.scss */
#homepage footer .footer-part#thinkmaps h3 {
  background: url("../images/signin-signup/picto-thinkmaps.png") no-repeat 170px 0;
}
/* line 485, ../sass/styles.scss */
#homepage footer .footer-part#fb {
  width: 296px;
}
/* line 488, ../sass/styles.scss */
#homepage footer .footer-part#fb h3 {
  background: url("../images/signin-signup/picto-fb.png") no-repeat 210px 0;
}
/* line 491, ../sass/styles.scss */
#homepage footer .footer-part#fb .fbcool {
  background: url("../images/signin-signup/fond-jaime.jpg") no-repeat;
  float: left;
  font-weight: bold;
  height: 34px;
  margin-top: 276px;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  width: 280px;
}
/* line 503, ../sass/styles.scss */
#homepage footer .footer-part#contact {
  clear: left;
  width: 100%;
  margin: 30px 0 0;
}
/* line 508, ../sass/styles.scss */
#homepage footer .footer-part#contact strong {
  margin: 0;
  display: block;
  background: url("../images/signin-signup/bg-title-small.png") no-repeat;
  width: 115px;
  height: 20px;
  color: #fff;
  font-family: "Cabin", Arial, sans-serif;
  font-size: 1.125em;
  line-height: 18px;
  text-align: center;
}
/* line 521, ../sass/styles.scss */
#homepage footer .footer-part#contact a {
  color: #8CBA18;
}
/* line 525, ../sass/styles.scss */
#homepage footer .footer-part .footer-container {
  position: relative;
  background: #fff;
  margin-bottom: 30px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  -ms-border-radius: 0 6px 6px 6px;
  -o-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
/* line 532, ../sass/styles.scss */
#homepage footer .footer-part .footer-container strong {
  position: absolute;
  top: -16px;
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  padding: 0px 4px 2px 15px;
  background: url("../images/signin-signup/bg-title-3d-effect.png") no-repeat 0 2px;
}
/* line 543, ../sass/styles.scss */
#homepage footer .footer-part .footer-container strong span {
  background: #8CBA18;
  padding: 2px;
  font-size: 1em;
  font-family: Arial, Helvetica, "Sans Serif";
  font-weight: bold;
}
/* line 551, ../sass/styles.scss */
#homepage footer .footer-part .footer-container p {
  clear: left;
  color: #333;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.875em;
  line-height: 1.375em;
  padding: 12px 18px;
}
/* line 562, ../sass/styles.scss */
#homepage #password-login {
  width: 220px !important;
  float: left !important;
  margin-bottom: 8px;
}

/* line 570, ../sass/styles.scss */
#colophon {
  clear: both;
  height: 20px;
  width: 100%;
  background: #494542;
  text-align: center;
}
/* line 577, ../sass/styles.scss */
#colophon a {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.75em;
  line-height: 0.75em;
  color: #fff;
}

/* line 588, ../sass/styles.scss */
.popin-bg {
  background: #333;
}

/* line 590, ../sass/styles.scss */
.fancybox-outer {
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 593, ../sass/styles.scss */
.popin {
  width: 400px;
  margin: 0 auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 599, ../sass/styles.scss */
.popin strong {
  display: block;
  text-align: center;
  padding: 20px;
  font-family: "Cabin", Arial, sans-serif;
  font-size: 1.75em;
  color: #333;
}
/* line 607, ../sass/styles.scss */
.popin strong span {
  color: #8cba18;
}
/* line 610, ../sass/styles.scss */
.popin label, .popin input {
  float: left;
  clear: both;
}
/* line 611, ../sass/styles.scss */
.popin a {
  float: left;
}
/* line 613, ../sass/styles.scss */
.popin label {
  color: #62696b;
  font-size: 0.875em;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 70px;
}
/* line 620, ../sass/styles.scss */
.popin label span {
  color: #8cba18;
}
/* line 624, ../sass/styles.scss */
.popin input {
  border: solid 1px #d9d5d1;
}
/* line 630, ../sass/styles.scss */
.popin input[type="text"],
.popin input[type="email"],
.popin input[type="password"],
.popin input[type="file"] {
  width: 200px;
  margin-left: 70px;
  margin-bottom: 6px;
}
/* line 635, ../sass/styles.scss */
.popin input[type="radio"] {
  float: left;
  margin-left: 70px;
  margin-bottom: 6px;
  margin-top: 10px;
}
/* line 642, ../sass/styles.scss */
.popin input[type="submit"] {
  margin-top: 16px;
  margin-left: 70px;
  padding: 0 10px;
  background: #8cba18;
  color: #fff;
  border: none;
}
/* line 651, ../sass/styles.scss */
.popin input[type="submit"]:hover, .popin input[type="submit"]:focus {
  -webkit-box-shadow: #888888 0px 2px 2px;
  -moz-box-shadow: #888888 0px 2px 2px;
  box-shadow: #888888 0px 2px 2px;
}
/* line 655, ../sass/styles.scss */
.popin legend {
  float: left;
  color: #62696b;
  font-size: 0.875em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
}
/* line 665, ../sass/styles.scss */
.popin a {
  cursor: pointer;
  margin-top: 15px;
  padding: 9px 0 20px 10px;
  color: #62696B;
  font-size: 0.75em;
}
/* line 673, ../sass/styles.scss */
.popin a:hover, .popin a:focus {
  text-decoration: underline;
}

/* line 678, ../sass/styles.scss */
.popin #export-format label {
  clear: none;
  margin-left: 10px;
}

/* line 684, ../sass/styles.scss */
#home-extranet #content {
  clear: both;
  min-height: 600px;
}
/* line 688, ../sass/styles.scss */
#home-extranet #content #menu-options {
  float: left;
}
/* line 690, ../sass/styles.scss */
#home-extranet #content .search-map {
  position: relative;
  float: left;
  width: 348px;
  height: 36px;
  padding: 0 10px;
  margin-left: 10px;
  border: solid 1px #a5d23e;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #97c333;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2e440), color-stop(100%, #7ca227));
  background: -webkit-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: -moz-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: -o-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: -ms-linear-gradient(top, #b2e440 0%, #7ca227 100%);
  -pie-background: linear-gradient(top, #b2e440 0%, #7ca227 100%);
  background: linear-gradient(top, #b2e440 0%, #7ca227 100%);
  -webkit-box-shadow: #dbdbdb 0px 2px 2px;
  -moz-box-shadow: #dbdbdb 0px 2px 2px;
  box-shadow: #dbdbdb 0px 2px 2px;
}
/* line 703, ../sass/styles.scss */
#home-extranet #content .search-map input[type="search"] {
  -webkit-appearance: none;
  height: 22px;
  width: 328px;
  margin-top: 8px;
  padding: 0 0 0 20px !important;
  -webkit-box-shadow: #888888 0px -1px 2px;
  -moz-box-shadow: #888888 0px -1px 2px;
  box-shadow: #888888 0px -1px 2px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 714, ../sass/styles.scss */
#home-extranet #content .search-map span {
  position: absolute;
  right: 8px;
  top: 0px;
}
/* line 719, ../sass/styles.scss */
#home-extranet #content .search-map span label {
  text-indent: -9999px;
  position: absolute;
  top: 12px;
  right: 330px;
  width: 12px;
  height: 12px;
  background: url(../images/sprite.png) no-repeat -120px -200px;
}
/* line 731, ../sass/styles.scss */
#home-extranet #content .search-map input[type="submit"] {
  margin-top: 6px;
  height: 24px;
  background-color: #96c133;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a6d53a), color-stop(100%, #86ae2c));
  background: -webkit-linear-gradient(top, #a6d53a 0%, #86ae2c 100%);
  background: -moz-linear-gradient(top, #a6d53a 0%, #86ae2c 100%);
  background: -o-linear-gradient(top, #a6d53a 0%, #86ae2c 100%);
  background: -ms-linear-gradient(top, #a6d53a 0%, #86ae2c 100%);
  -pie-background: linear-gradient(top, #a6d53a 0%, #86ae2c 100%);
  background: linear-gradient(top, #a6d53a 0%, #86ae2c 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #97c333;
  padding: 0px 8px 0px;
  font-size: 0.625em;
  font-family: Arial, Helvetica, "Sans Serif";
  line-height: 0.625em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 746, ../sass/styles.scss */
#home-extranet #content .search-map input[type="submit"]:hover {
  background-color: #b6d967;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a6d53a), color-stop(100%, #b6d967));
  background: -webkit-linear-gradient(top, #a6d53a 0%, #b6d967 100%);
  background: -moz-linear-gradient(top, #a6d53a 0%, #b6d967 100%);
  background: -o-linear-gradient(top, #a6d53a 0%, #b6d967 100%);
  background: -ms-linear-gradient(top, #a6d53a 0%, #b6d967 100%);
  -pie-background: linear-gradient(top, #a6d53a 0%, #b6d967 100%);
  background: linear-gradient(top, #a6d53a 0%, #b6d967 100%);
}
/* line 753, ../sass/styles.scss */
#home-extranet #content #my-maps {
  float: left;
  width: 100%;
  clear: left;
  margin-bottom: 10px;
}
/* line 760, ../sass/styles.scss */
#home-extranet #content #my-maps .mini {
  width: 42px;
}
/* line 761, ../sass/styles.scss */
#home-extranet #content #my-maps .small {
  width: 72px;
}
/* line 762, ../sass/styles.scss */
#home-extranet #content #my-maps .medium {
  width: 184px;
}
/* line 763, ../sass/styles.scss */
#home-extranet #content #my-maps .tall {
  width: 340px;
  padding-left: 8px;
}
/* line 765, ../sass/styles.scss */
#home-extranet #content #my-maps input[type="checkbox"] {
  margin: 0 auto;
  display: block;
}
/* line 767, ../sass/styles.scss */
#home-extranet #content #my-maps .col-name {
  padding-left: 8px;
}
/* line 769, ../sass/styles.scss */
#home-extranet #content #my-maps .private {
  text-indent: -9999px;
  background: url(../images/sprite.png) no-repeat 32px -556px;
}
/* line 773, ../sass/styles.scss */
#home-extranet #content #my-maps .public {
  text-indent: -9999px;
  background: url(../images/sprite.png) no-repeat 32px -634px;
}
/* line 779, ../sass/styles.scss */
#home-extranet #content #my-maps thead a {
  float: left;
  font-family: Arial, Helvetica, "Sans Serif";
  font-weight: bold;
  font-size: 0.75em;
  color: #494542;
}
/* line 786, ../sass/styles.scss */
#home-extranet #content #my-maps thead a span {
  background: url(../images/sprite.png) no-repeat 30px -516px;
  padding: 0 10px 0 30px;
}
/* line 790, ../sass/styles.scss */
#home-extranet #content #my-maps thead a.active span {
  background-position: 20px -476px;
}
/* line 793, ../sass/styles.scss */
#home-extranet #content #my-maps tr {
  line-height: 1.625em;
  border-top: solid 1px #eaeaea;
}
/* line 796, ../sass/styles.scss */
#home-extranet #content #my-maps tr:first-child {
  border-top: 0;
}
/* line 800, ../sass/styles.scss */
#home-extranet #content #my-maps td {
  border-left: solid 1px #eaeaea;
}
/* line 803, ../sass/styles.scss */
#home-extranet #content #my-maps td:first-child {
  border-left: 0;
}
/* line 805, ../sass/styles.scss */
#home-extranet #content #my-maps td img {
  display: block;
  margin: 0 auto;
}
/* line 813, ../sass/styles.scss */
#home-extranet #content th {
  padding-left: 8px;
  padding-bottom: 30px;
  border-left: solid 1px #eaeaea;
}
/* line 818, ../sass/styles.scss */
#home-extranet #content th:first-child {
  border: none;
}
/* line 821, ../sass/styles.scss */
#home-extranet #content td {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.75em;
  color: #494542;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 828, ../sass/styles.scss */
#home-extranet #content td a {
  color: #494542;
}
/* line 830, ../sass/styles.scss */
#home-extranet #content td a:hover {
  text-decoration: underline;
}

/* line 842, ../sass/styles.scss */
#map-edition header h2#map-title {
  float: left;
  height: 34px;
  margin-top: 22px;
  padding: 0 20px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #ebeaeb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d7d6d7));
  background: -webkit-linear-gradient(top, #ffffff 0%, #d7d6d7 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #d7d6d7 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #d7d6d7 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #d7d6d7 100%);
  -pie-background: linear-gradient(top, #ffffff 0%, #d7d6d7 100%);
  background: linear-gradient(top, #ffffff 0%, #d7d6d7 100%);
  -webkit-box-shadow: black 0 -1px 1px;
  -moz-box-shadow: black 0 -1px 1px;
  box-shadow: black 0 -1px 1px;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.75em;
  font-weight: bold;
  line-height: 2.75em;
  color: #474e6f;
  text-transform: uppercase;
}
/* line 858, ../sass/styles.scss */
#map-edition header h2#map-title em {
  margin-left: 10px;
  font-size: 0.875em;
  font-weight: normal;
  text-transform: none;
}
/* line 864, ../sass/styles.scss */
#map-edition header h2#map-title em:before {
  content: "| ";
}
/* line 869, ../sass/styles.scss */
#map-edition #content {
  clear: both;
  position: relative;
}
/* line 871, ../sass/styles.scss */
#map-edition #sidebar-left {
  position: absolute;
  width: 135px;
  left: -80px;
  z-index: 1;
}
/* line 877, ../sass/styles.scss */
#map-edition .edition-top-container {
  position: relative;
  float: left;
  width: 80px;
  height: 72px;
  background: url(../images/bg-edition-decoup.png) no-repeat 1px 0;
}
/* line 885, ../sass/styles.scss */
#map-edition .grey-part-menu {
  position: relative;
  float: left;
  clear: left;
  width: 80px;
  background-color: #dbdadb;
}
/* line 893, ../sass/styles.scss */
#map-edition .grey-part-menu li:hover {
  width: 80px;
  background-color: #e5e5e5;
}
/* line 897, ../sass/styles.scss */
#map-edition .grey-part-menu a {
  color: #383739;
}
/* line 901, ../sass/styles.scss */
#map-edition .green-part-menu {
  position: relative;
  float: left;
  clear: left;
  width: 80px;
  background-color: #a1cf38;
}
/* line 908, ../sass/styles.scss */
#map-edition .green-part-menu li:hover {
  width: 80px;
  background-color: #c8e38a;
}
/* line 912, ../sass/styles.scss */
#map-edition .green-part-menu a {
  color: #fff;
}
/* line 916, ../sass/styles.scss */
#map-edition .edition-mid-container {
  position: relative;
  clear: left;
  float: left;
  width: 80px;
  height: 46px;
  background: url(../images/bg-edition-decoup.png) no-repeat -110px 0;
}
/* line 924, ../sass/styles.scss */
#map-edition .edition-bot-container {
  position: relative;
  clear: left;
  float: left;
  width: 100px;
  height: 72px;
  background: url(../images/bg-edition-decoup.png) no-repeat -219px 0px;
}
/* line 933, ../sass/styles.scss */
#map-edition .menu {
  position: relative;
  float: left;
  width: 80px;
}
/* line 938, ../sass/styles.scss */
#map-edition .menu li {
  clear: left;
  float: left;
  width: 80px;
  margin-bottom: 10px;
}
/* line 944, ../sass/styles.scss */
#map-edition .menu li.create a {
  background: url(../images/sprite.png) no-repeat 34px -194px;
}
/* line 948, ../sass/styles.scss */
#map-edition .menu li.import a {
  background: url(../images/sprite.png) no-repeat 30px -354px;
}
/* line 952, ../sass/styles.scss */
#map-edition .menu li.customize a {
  background: url(../images/sprite.png) no-repeat 30px -876px;
}
/* line 956, ../sass/styles.scss */
#map-edition .menu li.pin-with a {
  background: url(../images/sprite.png) no-repeat 34px -954px;
}
/* line 960, ../sass/styles.scss */
#map-edition .menu li.link a {
  background: url(../images/sprite.png) no-repeat 34px -794px;
}
/* line 963, ../sass/styles.scss */
#map-edition .menu li.collaborate a {
  background: url(../images/sprite.png) no-repeat 34px -710px;
}
/* line 967, ../sass/styles.scss */
#map-edition .menu li.discuss a {
  background: url(../images/sprite.png) no-repeat 34px -1034px;
}
/* line 970, ../sass/styles.scss */
#map-edition .menu li.undo a {
  background: url(../images/sprite.png) no-repeat -90px -230px;
}
/* line 973, ../sass/styles.scss */
#map-edition .menu li.redo a {
  background: url(../images/sprite.png) no-repeat -90px -270px;
}
/* line 976, ../sass/styles.scss */
#map-edition .menu li.print a {
  background: url(../images/sprite.png) no-repeat -88px -313px;
}
/* line 979, ../sass/styles.scss */
#map-edition .menu li.export a {
  background: url(../images/sprite.png) no-repeat -90px -360px;
}
/* line 982, ../sass/styles.scss */
#map-edition .menu li.publish a {
  background: url(../images/sprite.png) no-repeat -86px -515px;
}
/* line 986, ../sass/styles.scss */
#map-edition .menu li a {
  display: block;
  padding: 26px 0px 4px 0px;
  margin-right: 1px;
  text-align: center;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 998, ../sass/styles.scss */
#map-edition .customize-options {
  display: block;
  position: absolute;
  top: 150px;
  left: 120px;
  width: 225px;
  background-color: #fff;
  border: solid 1px #eaeaea;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 20px 20px;
}
/* line 1010, ../sass/styles.scss */
#map-edition .customize-options strong {
  clear: left;
  float: left;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 1em;
  line-height: 1em;
  margin-top: 10px;
  color: #383739;
  font-weight: bold;
}
/* line 1021, ../sass/styles.scss */
#map-edition .customize-options .style-options {
  float: left;
  clear: left;
}
/* line 1025, ../sass/styles.scss */
#map-edition .customize-options .style-options li {
  float: left;
  margin: 4px 4px 2px 0;
}
/* line 1029, ../sass/styles.scss */
#map-edition .customize-options .style-options li a {
  display: block;
  padding: 4px 6px;
  border: solid 1px #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #383739;
  font-size: 0.75em;
}
/* line 1037, ../sass/styles.scss */
#map-edition .customize-options .style-options li a:hover {
  background: #383739;
  color: #fff;
}
/* line 1044, ../sass/styles.scss */
#map-edition .customize-options .text-color {
  clear: left;
  float: left;
}
/* line 1048, ../sass/styles.scss */
#map-edition .customize-options .text-color li {
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-right: 5px;
  text-indent: -9999px;
}
/* line 1058, ../sass/styles.scss */
#map-edition .customize-options .text-color li a {
  display: block;
}
/* line 1063, ../sass/styles.scss */
#map-edition #btn-sidebar {
  position: absolute;
  top: 200px;
  left: 80px;
}
/* line 1068, ../sass/styles.scss */
#map-edition #btn-sidebar a#sidebar-on {
  float: left;
  padding: 10px;
  background-color: #dbdadb;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  -webkit-box-shadow: #999999 1px 2px 2px;
  -moz-box-shadow: #999999 1px 2px 2px;
  box-shadow: #999999 1px 2px 2px;
  color: #494542;
}
/* line 1078, ../sass/styles.scss */
#map-edition #title-toolbar {
  position: absolute;
  z-index: 0;
  left: 40px;
  top: 213px;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 0.75em;
  color: #cecece;
  text-transform: uppercase;
  text-shadow: white 0px 1px 0;
}
/* line 1091, ../sass/styles.scss */
#map-edition #map {
  display: block;
  padding-top: 22px;
}
/* line 1095, ../sass/styles.scss */
#map-edition #map img {
  display: block;
  width: 811px;
  height: 490px;
  margin: 0 auto;
}
